@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: "Open Sans";
    background: #a7f3d0;
    color: #054635;
}

header {
    grid-row: 1 / 2;
    background: #ecfdf5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    white-space: nowrap;
}

.title {
    font-weight: bold;    
    display: flex;
    align-items: center;
    gap: 30px;
}

.title img {
    height: 110px;
    width: auto;
}

button.add-book, button.confirmation {
    border: none;
    border-radius: 5px;
    background: #054635;
    color: white;
    font-family: inherit;
    font-weight: ;
    font-size: 1.2rem;
    padding: 10px 15px;
    margin-left: 50px;
    cursor: pointer;
}

button.confirmation {
    margin-left: 0;
    font-weight: bold;
    padding: 10px 30px;
}

button.add-book:active, button.confirmation:active {
    background: #043226;
}

main.library {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: 400px;
    box-shadow: 0px 15px 15px -15px rgb(0 0 0 / .1) inset;
    /* On peut normalement retirer le box-shadow. Mais après */
    padding: 40px 40px;
    gap: 35px;
}

.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    background: #054635;
    background: linear-gradient(360deg, RGB(5, 70, 53, 5), RGB(5, 70, 53, .8));
    color: #ecfdf5;
    border-radius: 5px;
}

.book-image {
    opacity: .9;
    /* background-image: url("https://static.fnac-static.com/multimedia/Images/FR/NR/68/d9/c2/12769640/1507-1/tsp20201217115104/My-Broken-Mariko.jpg"); */
    background-size: cover;
    border-radius: 5px;
    flex: 1;
}

.book-description {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 5px;
    padding: 30px;
    padding-right: 20px;
}

.book-title {
    font-weight: bold;
    font-size: 1.2rem;
}

.book-author {
    padding-bottom: 10px;
    font-style: italic;
}

.book-pages span {
    font-weight: bold;
}

.book-description-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.book-description-bottom .options {
    display: flex;
    align-items: end;
    gap: 10px;
}

.book-description-bottom .options img {
    height: 25px;
}

.book-description-bottom .options img:hover {
    cursor: pointer;
}

.book-status {
    align-self: end;
    background: #10b981;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    color: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px
}

.book-description-bottom .options .book-status img {
    height: 21px;
    width: auto;
}

.book-status:active {
    background: RGB(16, 185, 129, .7)
}

footer.disclaimer {
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center
}

.disclaimer p {
    font-size: 1.2rem;
    padding: 15px;
    font-weight: bold;
    color: black;
}

.add-book-modal, .remove-book-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgb(0 0 0 / .6);

    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.form-container, .confirmation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    background: #ecfdf5;
    border-radius: 15px;
    color: #054635;
    padding: 30px 50px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.form-title, .confirmation-text {
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 30px;
}

.confirmation-text {
    text-align: center;
}

.confirmation-buttons {
    display: flex;
    gap: 50px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-container label {
    font-size: .9rem;
    font-weight: bold;
}

.input-container:nth-child(5) {
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

label[for="book-read"] {
    font-size: 1.5rem;
}

input[type="text"],
input[type="number"],
input[type="url"] {
    border: 1px solid rgb(209, 213, 219);
    box-shadow: 0 0 3px -2px black;
    height: 40px;
    border-radius: 5px;
    font-size: 1.1rem;
    padding-left: 20px;
    font-family: inherit;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #054635;
    border-radius: 5px;
    cursor: pointer;
}

.input-container button {
    margin-right: 50px;
}
